@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    color: white;
}

img{
    height: 100%;
    width: 100%;
}

body{
    height: 800px;

}

.contact-us{
    height: 120vh;
    background: linear-gradient(to bottom,rgba(201, 187, 207,0.92),rgba(6, 8, 59,0.9)),url('images/contact-3.jpg');
    background-position: center;
    background-size: cover;
}

.img1{
    height: 20px;
}

.logo{
    display: flex;
    padding-left: 60px;
    width: 10%;
    align-items: center;
    justify-content: space-between;
}

.header-content{
    position: fixed;
    z-index: 3;
    padding: 12px 0px;
    padding-right: 50px;
    width: 100%;
    margin: auto;
    opacity: 0.92;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}


.nav{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.nav li::after{
    content: '';
    display: block;
    background-color: rgba(6, 8, 59,0.9);
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.nav #contact::after{
    transform: scaleX(1);
}

.nav li:hover::after{
    transform: scaleX(1);
}


a{
    text-decoration: none;
    font-weight: 50px;
    color: rgba(19, 21, 56, 0.9);
    text-transform: capitalize;
}


.contact-form{
    display: block;
    position: absolute;
    top: 130px;
}

.contact-form h2{
    font-size: 45px;
    width: 280px;
    padding: 0px 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
    border: 2px ridge rgba(19, 21, 56, 0.9);
    border-left: transparent;
    border-radius: 0px;
}

.form-content{
    position: absolute;
    top: 250px;
    left: 0px;
    padding-top: 30px;
}

fieldset{
    border: 0px;
    outline: 5px;
}

input{
    width: 800px;
    background-color: transparent;
    border: 3px solid rgba(19, 21, 56, 0.9);
    margin: 0px;
    border-bottom: 0px;
    border-radius: 10px;
    border-left: transparent;
    outline: 0px;
    height: 50px;
    padding: 5px 20px;
    color: white;
}

textarea{
    width: 800px;
    height: 150px;
    background-color: transparent;
    border: 3px solid rgba(19, 21, 56, 0.9);
    margin: 0px;
    border-bottom: 0px;
    border-radius: 10px;
    border-left: transparent;
    outline: 0px;
    padding: 5px 20px;
    color: white;

}

#last-input{
    border-bottom: 3px solid rgba(19, 21, 56, 0.9);
}

input ::placeholder{
    color: white;
}

